<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">BeerMon V2</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav">
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul class="navbar-form navbar-right">
			<div class="input-group">
				{{input type="text" class="form-control box-shadow-none" placeholder="Search" value=filter}}
				<span class="input-group-addon glyphicon glyphicon-search top-0"></span>
			</div>
		</ul>
	</div><!-- /.container-fluid -->
</nav>
